@model TMS.Models.Staff
@{
    ViewBag.Title = "Details";
}

<h2>Account details of this staff</h2>

<ul>
    <li>Staff Id: @Model.Id</li>
    <li>Staff Name: @Model.UserName</li>
    <li>Phone number: @Model.PhoneNumber</li>
    <li>BirthDay: @Model.DateOfBirth</li>
</ul>
@Html.ActionLink("Back", "Index", "Staffs",
null,
new { @class = "btn btn-primary" })
