@model TMS.ViewModels.CourseCategoryViewModels
@{
    ViewBag.Title = "Create";
}

<h2>Create New Course</h2>

@using (Html.BeginForm("Create", "Course", "POST"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Course.Name)
        @Html.TextBoxFor(model => model.Course.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Course.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Course.Category)
        @Html.TextBoxFor(model => model.Course.Category, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Course.Category, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Course.Description)
        @Html.TextBoxFor(model => model.Course.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Course.Description, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Course</button>
    </div>
}

