@model  IEnumerable<TMS.Models.Trainer>
@{
    ViewBag.Title = "Index";
}
<h2>Trainer Infomations</h2>

<table class="table table-bordered">
    <thead>
        <tr>

            <th>Trainer Name</th>
            <th>Age</th>
            <th>phone</th>  
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.UserName</td>
                <td>@item.DateOfBirth</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Email</td>
                <td>
                    @Html.ActionLink("Details Infomation", "Details", "Trainers",
                                                          new { id = item.Id },
                                                          new { @class = "btn btn-primary", style = "margin :10px" })
                    @Html.ActionLink("Update this Trainer", "Update", "Trainers",
                                                          new { id = item.Id },
                                                          new { @class = "btn btn-danger", style = "margin :10px" })
                    @Html.ActionLink("Delete This trainer", "Delete", "Trainers",
                                                          new { id = item.Id },
                                                          new { @class = "btn btn-primary", style = "margin :10px" })

                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Back", "Index", "Admins",
       null,
       new { @class = "btn btn-primary" })
</div>

