@model TMS.Models.Trainer

@{ 
    ViewBag.Title = "Update"; 
 }

<h2>Edit</h2>

@using (Html.BeginForm("Update", "Trainers", "POST"))
{

    <div class="form-group">
        @Html.HiddenFor(model => model.Id)
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DateOfBirth)
        @Html.TextAreaFor(model => model.DateOfBirth, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber)
        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.WorkingPlace)
        @Html.TextBoxFor(model => model.WorkingPlace, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.WorkingPlace, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Type)
        @Html.TextBoxFor(model => model.Type, new { @class = "form-control"})
        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>}