@model  TMS.Models.Trainer
@{
    ViewBag.Title = "UpdateProfile";
}

<h2>Edit Trainer</h2>

@using (Html.BeginForm("UpdateProfile", "Trainers", "POST"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.LabelFor(model => model.Age)
        @Html.TextBoxFor(model => model.Age, new { @class = "form-control" })
        @Html.LabelFor(model => model.Gender)
        @Html.TextBoxFor(model => model.Gender, new { @class = "form-control" })
        @Html.LabelFor(model => model.Address)
        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
        @Html.LabelFor(model => model.Phone)
        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @Type = "number" })
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @Type = "email" })
        @Html.LabelFor(model => model.Course)
        @Html.TextBoxFor(model => model.Course, new { @class = "form-control" })

        @Html.ActionLink("Back", "Index", "Trainers",
    null,
    new { @class = "btn btn-primary" })

        <button type="submit" class="btn btn-primary">Submit This Trainer</button>
    </div>
    @Html.ActionLink("Back", "Index", "Trainees",
    null,
    new { @class = "btn btn-primary" })
}